<ul class="messages">
  <li class="message" *ngFor="let mesagem of mensagens"> {{mesagem.value}}</li>
</ul>
<div class="buttons" *ngIf="buttons.length == 0">
  <input class="message_input" type="text" [(ngModel)]="menssagem" size="40"/>
  <button (click)="enviar(menssagem, menssagem)"> Responder</button>
</div>
<button class="buttons" (click)="enviar(button.value, button.label.title)" *ngFor="let button of buttons">
  {{button.label.title}}
</button>
<a href="https://oiwarren.com/app/#/profile/{{profile}}" target="_blank" *ngIf="profile">
  <button>Perfil</button>
</a>
